/*Todo: Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');

:root {
    --main-color: #6d2c7d;
    --secondary-color: white;
    --third-color: blueviolet;
    --main-font: 'Rajdhani';
    --texto-font: 'Ubuntu';
    --main-color-text: red;
    --legal-font: 'Tangerine';
    --titulos: 'Bungee Shade';
    --secondary-titulos: 'Londrina Outline';
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 14px;
    background: rgba(177, 174, 174, 0.479);
}

body::-webkit-scrollbar-thumb:hover {
    background: rgb(198, 198, 198);
}

/*Todo: Diseño de la barra de navegacion */
.page-header {
    margin-right: 5px;
    transition: transform 0.3s;
    display: flex;
    justify-content: space-between;
}

.header-mobile {
    display: none;
}

.head-mobile {
    display: none;
}

@media (width < 420px) {
    .page-header {
        display: none;
    }

    .lista-menu-mobile {
        display: flex;
        background-color: #6d2c7d;
        background: rgb(36, 0, 9);
        background: linear-gradient(90deg, rgba(36, 0, 9, 1) 6%, rgb(131, 7, 7) 30%, rgb(217, 10, 10) 92%);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        z-index: 2;
    }

    .span-mobile {
        color: #ffffff;
        font-family: var(--main-font), sans-serif;
        font-size: 2rem;
    }

    #menu2 {
        margin-top: 4px;
        font-size: 2rem;
        color: #ffffff;
        cursor: pointer;
    }

    .head-mobile {
        display: block;
        background: rgb(36, 0, 9);
        background: linear-gradient(90deg, rgba(36, 0, 9, 1) 6%, rgba(149, 7, 7, 1) 30%, rgba(255, 0, 0, 1) 92%);
        width: 50%;
        position: fixed;
        right: 100%;
        margin: 0;
        overflow: scroll;
        height: 100%;
    }

    .navs-links {
        color: white;
        text-decoration: none;
        padding: 10px;
        font-family: var(--texto-font), sans-serif;
        font-size: 1.2rem;
        display: block;
        border-bottom: 1px solid white;
    }
}

.trigger-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    z-index: 2;
    background: rgb(36, 0, 9);
    background: linear-gradient(90deg, rgba(36, 0, 9, 1) 6%, rgba(149, 7, 7, 1) 30%, rgba(255, 0, 0, 1) 92%);
}

.menu-list ul {
    display: flex;
    text-align: center;
}

.menu-list li {
    list-style: none;
    display: inline;
}

.spn-titulo {
    color: white;
    font-family: var(--main-font), sans-serif;
    font-size: 2.5rem;
    margin-top: 5px;
    text-align: left;
}

.nav-links {
    display: flex;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    list-style: none;
    color: white;
    font-family: var(--texto-font), sans-serif;
    text-decoration: none;
    margin-top: 5px;
    font-size: 1.1rem;
    transition: scale 0.2 ease;
}

.nav-links:hover {
    scale: 1.08;
}

.nav-links:active {
    scale: 0.95;
}

.items {
    color: rgb(255, 255, 255);
    margin-top: 15px;
    font-size: 30px;
    cursor: pointer;
}

/*? Car-Shopping */
.shop-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

.carrito {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: var(--texto-font), sans-serif;
    margin-top: 40px;
    transition: scale 0.2 ease;
}

.carrito:hover {
    scale: 1.05;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.carrito>img {
    margin-top: 20px;
    width: 50%;
    height: 50%;
}

.line {
    width: 50%;
}

.precio {
    color: rgb(100, 100, 100);
    font-size: 22px;
}

.carrito button {
    border: none;
    outline: 0;
    padding: 12px;
    color: var(--secondary-color);
    background-color: var(--main-color-text);
    text-align: center;
    cursor: pointer;
    width: 100%;
    border-radius: 0 0 15px 15px;
    font-size: 18px;
}

.carrito button:hover {
    opacity: 0.7;
}

/*? Boton para eliminar productos */
.delete-product {
    cursor: pointer;
    color: var(--main-color-text);
    font-size: 25px;
    transition: scale 0.2 ease;
}

.delete-product:hover {
    scale: 1.05;
}

.delete-product:active {
    scale: 0.95;
}

/*? Boton Cantidad Carrto */
.cantidad-Carrito {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 50%;
    font-size: 10px;
    padding: 4px;
    top: 37px;
    right: 14px;
    position: absolute;
    display: none;
    font-family: var(--texto-font), sans-serif;
    font-weight: bold;
}

/*? Modal Container  */
.modal-container {
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: black;
    font-family: var(--texto-font), sans-serif;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}

.modal-container::-webkit-scrollbar {
    display: none;
}

.modal-header {
    display: flex;
    justify-content: space-around;
    background: rgb(36, 0, 9);
    background: linear-gradient(90deg, rgba(36, 0, 9, 1) 6%, rgba(149, 7, 7, 1) 30%, rgba(255, 0, 0, 1) 92%);
    color: var(--secondary-color);
    width: 100%;
}

.modal-header-title {
    justify-content: start;
    font-family: var(--main-font), sans-serif;
}

.modal-header-button {
    cursor: pointer;
}

.modal-container>.modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.modal-container>div>img {
    height: 120px;
    width: 120px;
}

.total-content {
    font-size: 25px;
    padding: 20px;
    align-items: center;
    padding-top: 20px;
    font-family: var(--texto-font), sans-serif;
}

.product-title {
    font-family: var(--texto-font), sans-serif;
    margin-left: 35px;
    font-size: 1.5rem;
}

.restar {
    cursor: pointer;
    transition: scale 0.2 ease;
}

.restar:hover {
    scale: 1.05;
}

.restar:active {
    scale: 0.95;
}

.sumar {
    cursor: pointer;
    transition: scale 0.2 ease;
}

.sumar:hover {
    scale: 1.05;
}

.sumar:active {
    scale: 1.05;
}

/*Todo: Seccion de la imagen */
.index {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("https://cdn.pixabay.com/photo/2020/02/09/16/24/apple-4833764_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 55px;
    object-fit: contain;
}

.titulo-index {
    color: var(--secondary-color);
    font-family: var(--main-font), sans-serif;
    font-size: 5rem;
}

.slogan-index {
    color: var(--secondary-color);
    font-family: var(--texto-font), sans-serif;
    font-size: 2rem;
    margin-top: 0;
}

.h {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-left: 35px;
}

.titulo-h {
    font-family: var(--main-font), sans-serif;
    color: var(--main-color-text);
}

.h img {
    width: 250px;
    height: 50px;
    cursor: pointer;
    margin-right: 20px;
}

.syo {
    display: flex;
    text-align: center;
    padding: 0 20px;
    font-family: var(--texto-font), sans-serif;
    margin-top: 5px;
    cursor: pointer;
    margin-left: 60px;
}

main section div {
    text-align: center;
}

main section div span {
    color: var(--main-color-text);
    font-weight: bold;
    font-size: 20px;
    font-family: var(--main-font), sans-serif;
    margin-top: 37rem;
}

.hero {
    display: flex;
    margin: 2.5rem;
    border: rgb(222, 220, 220) 2px solid;
    text-align: center;
    box-shadow: 1px 1px 1px 2px #d3d3d3d1;
    background-color: white;
}

.slogan {
    font-size: 17px;
    font-family: var(--main-font), sans-serif;
}

main section div ul li {
    list-style: none;
    padding: 1.5rem;
    display: inline;
    font-family: var(--main-font), sans-serif;
}

.sellos {
    margin-left: 15rem;
}

.index-mobile {
    display: none;
}

@media (width < 420px) {
    .h {
        display: block;
        justify-content: space-between;
    }

    .titulo-h {
        text-align: center;
    }

    .h img {
        justify-content: center;
    }

    .syo {
        display: none;
        text-align: center;
    }

    .index {
        display: none;
    }

    .index-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 3rem;
        flex-direction: column;
        height: 90vh;
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url("https://cdn.pixabay.com/photo/2020/02/09/16/24/apple-4833764_1280.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .titulo-index {
        font-size: 3rem;
    }

    .slogan-index {
        font-size: 1.5rem;
    }
}

/*Todo: Seccion de Promociones */
.super-promo {
    border: rgb(235, 235, 235) 2px solid;
    margin: 2rem;
    object-fit: fill;
    background-color: white;
    border-radius: 8px;
    justify-content: space-around;
    display: flex;
}

.promo img {
    width: 300px;
    margin-top: 20px;
    justify-content: space-around;
    transition: scale 0.2 ease;
    object-fit: cover;
    margin-bottom: 25px;
    cursor: pointer;
}

.promo img:hover {
    scale: 1.05;
}

.titulo-promo {
    font-family: var(--main-font), sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: var(--main-color-text);
    margin-top: 90px;
}

.complement {
    width: 450px;
    border: 1.5px solid #000000;
    border-radius: 5px;
    margin-bottom: 50px;
    margin-top: 80px;
    /* border: 0; */
    /* height: 2px; */
}

.price {
    justify-content: space-evenly;
    font-family: var(--texto-font), sans-serif;
    font-size: 1.05rem;
    color: #000000;
    font-weight: bold;
    margin-top: 50px;
    display: flex;
}

.hashtag {
    display: flex;
    margin-top: 50px;
}

.hashtag div {
    display: flex;
    margin-left: 380px;
    margin-top: 10px;
    text-align: center;
}

.hashtag-1 {
    background: var(--main-color-text);
    color: #ffffff;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    margin-left: 35px;
    justify-content: left;
    font-family: var(--main-font), sans-serif;
}

.spn {
    margin: 15px;
    text-align: center;
    font-size: 1.05rem;
    font-family: var(--texto-font), sans-serif;
    cursor: pointer;
}

.btn1 {
    font-family: var(--texto-font), sans-serif;
    font-size: 16px;
    color: var(--secondary-color);
    margin-bottom: 1rem;
    background-color: var(--main-color-text);
    width: 160px;
    height: 28px;
    border: none;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 2rem;
    transition: scale 0.2 ease;
}

.btn1:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    scale: 1.05;
}

.btn1:active {
    scale: 0.95;
}

.promo-title {
    font-family: var(--titulos), sans-serif;
    font-size: 30px;
    margin-top: 80px;
    color: var(--main-color-text);
}

.promo-mobile {
    display: none;
}

@media (width < 420px) {
    .hashtag {
        display: block;
    }

    .spn {
        display: none;
    }

    .super-promo {
        display: none;
    }

    .promo-mobile {
        display: block;
        border: 1px solid rgb(211, 210, 210);
        margin: 15px;
        border-radius: 10px;
    }

    .promo-title-mobile {
        font-family: var(--main-font), sans-serif;
        color: var(--main-color-text);
        font-size: 1.5rem;
    }

    .promo-img-mobile {
        /* border: 1px solid rgb(211, 210, 210); */
        border-radius: 5px;
        margin: 15px;
    }

    .promo-img-mobile img {
        object-fit: cover;
        width: 300px;
        margin-top: 20px;
        margin: 10px;
    }

    .precio-mobile {
        display: flex;
        justify-content: space-between;
        margin-left: 30px;
        margin-right: 30px;
    }

    .precio-mobile p {
        font-family: var(--texto-font), sans-serif;
        font-weight: 700;
    }

    .titulo-h {
        display: none;
    }

    .complement {
        width: 150px;
    }
}

/*Todo: Sección Catalogo de Productos */
.titulo-card {
    font-family: var(--main-font), sans-serif;
    color: var(--main-color-text);
    font-size: 3rem;
    margin-top: 5rem;
}

.mas-vendidos {
    color: var(--main-color-text);
    font-size: 25px;
    text-align: left;
    margin-left: 30px;
    font-weight: bold;
    font-family: var(--texto-font), sans-serif;
}

.card-product {
    display: flex;
}

.card-product1 {
    margin: 1rem;
    display: grid;
    text-align: center;
    box-shadow: 1px 1px 1px 1px #d3d3d3d1;
    border-radius: 10px;
}

.card-header {
    font-family: var(--main-font);
    border-radius: 10px;
    background: #9D50BB;
    background: -webkit-linear-gradient(to right, #a24287, #dc5858);
    background: linear-gradient(to right, #aa487b, #e02a2a);
    font-family: var(--main-font), sans-serif;
    color: var(--secondary-color);
    font-size: 20px;
}

.card-body p {
    margin: .5rem;
    justify-content: center;
    font-family: var(--texto-font), sans-serif;
    color: black;
}

.search {
    background-repeat: no-repeat;
    width: 118px;
    height: 40px;
    border-radius: 15px;
    padding-left: 38px;
    padding-right: 20px;
    font-size: 1rem;
    font-family: var(--texto-font), sans-serif;
    background: #fff url("../src/search.svg") no-repeat 9px center;
    border: none;
    box-shadow: 0 2px 2px 2px #d3d3d3d1;
    outline: none;
    transition: all .8s;
}

.search:hover {
    outline: none;
    width: 500px;
}

/*? Responsive Catalogo de Productos */
@media (width < 420px) {
    .titulo-card {
        font-size: 2rem;
    }

    .product-title {
        font-size: 1rem;
        text-align: center;
    }

    .search {
        margin-top: 20px;
        width: 115px;
    }

    .search:hover {
        width: 350px;
    }
}

/*Todo: Seccion Socios */
.contact {
    background: rgb(36, 0, 9);
    background: linear-gradient(90deg, rgba(36, 0, 9, 1) 6%, rgb(131, 7, 7) 30%, rgb(217, 10, 10) 92%);
    width: 100%;
    height: 200px;
    /* position: absolute; */
    margin-top: 100px;
}

.titulo-socios {
    text-align: center;
    font-size: 3rem;
    font-family: var(--main-font), sans-serif;
    color: var(--secondary-color);
    margin-bottom: 0;
    padding: 20px;
}

.socios {
    border: rgb(235, 235, 235) 2px solid;
    margin: 1rem;
    display: flex;
    background-color: white;
    border-radius: 10px;
    /* margin-top: 200px; */
}

.socios img {
    margin: 1rem;
    padding: 5px;
    width: 500px;
    height: 200px;
    object-fit: cover;
}

.socios-img {
    display: none;
}

.titulo-modal {
    color: var(--main-color-text);
    font-family: var(--main-font), sans-serif;
}

.btn-socios {
    font-family: var(--texto-font), sans-serif;
    font-size: 16px;
    color: var(--main-color-text);
    margin-bottom: 1rem;
    background-color: rgb(239, 239, 239);
    width: 160px;
    height: 30px;
    border: none;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 2rem;
    transition: scale 0.2 ease;
}

.btn-socios:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    scale: 1.05;
}

.btn-socios:active {
    scale: 0.95;
}

/*? Responsive Socios */
@media (width < 420px) {
    .contact {
        height: 130px;
    }

    .titulo-socios {
        font-size: 1.5rem;
    }

    .socios .socios-img {
        display: flex;
        object-fit: cover;
    }

    .socios img {
        display: none;
    }

    .btn-socios {
        width: 150px;
        height: 25px;
        margin-top: 10px;
    }
}

/*Todo: Seccion Nosotros */
.nosotros {
    border: rgb(235, 235, 235) 2px solid;
    border-radius: 10px;
    display: flex;
    margin: 1rem;
    background-color: white;
    margin-top: 50px;
}

.nosotros img {
    margin-top: 100px;
    padding: 1rem;
    width: 500rem;
    height: 350px;
    object-fit: cover;
}

.nosotros-texto {
    display: block;
}

.nosotros-texto h3 {
    font-size: 2.5rem;
    font-family: var(--main-font), sans-serif;
    color: var(--main-color-text);
}

.nosotros-texto p {
    font-family: var(--texto-font), sans-serif;
    margin: 2rem;
}

.footer-nosotros {
    margin-top: 5px;
    border-top: 0.5px solid #3a4f6a;
    padding-top: 5px;
    display: flex;
}

.redes {
    font-size: 18px;
    padding: 10px;
    font-family: var(--texto-font), sans-serif;
}

.filed {
    font-size: 20px;
    padding: 10px;
    justify-content: space-between;
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 915px;
    gap: 30px;
}

.filed .ti {
    transition: transform 0.3s ease 0s;
}

.filed .ti:hover {
    transform: translateY(-10px);
}

.mision-vision {
    display: flex;
}

.mision-vision div {
    margin: 10px;
    justify-content: space-between;
}

.mision-vision div h2 {
    font-family: var(--texto-font), sans-serif;
    color: var(--main-color-text);
    font-size: 1.5rem;
}

/*? Responsive Nosotros */
@media (width < 420px) {
    .nosotros {
        display: block;
    }

    .nosotros img {
        display: none;
        /* display: grid;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 300px;
        margin-top: 0;
        margin: auto; */
    }

    .footer-nosotros {
        display: flex;
    }

    .filed {
        text-align: center;
        justify-content: center;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .mision-vision {
        display: none;
    }
}

/*Todo: Seccion de Preguntas */
.faq-heading {
    margin-top: 40px;
    padding: 20px 60px;
    font-family: var(--main-font), sans-serif;
    color: var(--main-color-text);
    font-size: 2.5rem;
    text-align: center;
}

.faq-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 10px;
    border-radius: 10px;
}

.hr-line {
    width: 60%;
    margin: auto;
}

.faq-page {
    color: var(--main-color-text);
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
    font-family: var(--texto-font), sans-serif;
}

.faq-body {
    margin: auto;
    width: 50%;
    padding: auto;
    font-family: var(--texto-font), sans-serif;
    color: #949494;
}

.active,
.faq-page:hover {
    background-color: #F9F9F9;
}

.faq-body {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.faq-page:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
}

/*? Responsive Questions */
@media (width < 420px) {
    .faq-page {
        font-size: 1.05rem;
    }

    .faq-body {
        font-size: 0.9rem;
    }
}


/*Todo: Seccion Footer */
footer {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin: 0 30px;
    background-color: white;
}

footer.top {
    border-bottom: 2px solid #000000;
    padding-bottom: 20px;
}

footer.top .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.links .ti {
    transition: transform 0.3s ease 0s;
}

.links .ti:hover {
    transform: translateY(-10px);
}

footer.top a {
    text-decoration: none;
    cursor: pointer;
    font-family: var(--texto-font);
    color: black;
}

footer.top a:hover {
    color: #ba0a0a;
}

footer.bottom {
    padding: 20px 0;
    justify-content: space-between;
}

footer .links>div {
    display: grid;
    gap: 10px;
    margin-bottom: 30px;
}

.titulo-footer {
    font-family: var(--main-font), sans-serif;
    color: var(--main-color-text);
}

footer h2 {
    margin: 0;
    font-size: 20px;
    font-family: var(--main-font), sans-serif;
    font-weight: 400;
    color: var(--main-color-text);
}

footer .legal {
    font-size: 25px;
    font-family: var(--legal-font), sans-serif;
    font-weight: 600;
}

footer .legal>a {
    margin: 0 4px;
}

footer .legal>span {
    margin-right: 10px;
}

footer.bottom .links {
    display: flex;
    gap: 18px;
}

/*? Responsive Footer */
@media (width < 620px) {
    footer {
        flex-direction: column;
    }

    footer.bottom {
        gap: 16px;
        flex-direction: column-reverse;
    }
}

@media (width < 420px) {
    footer {
        text-align: center;
        align-items: center;
    }

    footer.top .links {
        grid-template-columns: 1fr;
    }

    footer.bottom {
        align-items: center;
    }

    footer .legal>span {
        display: block;
        margin-right: 0;
        margin-bottom: 2px;
    }
}